@media (max-width: 1199px) {
  .contact-form-title::after {
    margin: 5px 0 20px 45%;
  }
}

@media (max-width: 991px) {
  .contact-form-title::after {
    margin: 5px 0 20px 25%;
  }
}

@media (max-width: 767px) {
  .contact-form-title::after {
    width: 90px;
    margin: 5px 0 20px 53%;
  }
}

@media (max-width: 575px) {
  .contact-form-title {
    margin-top: 30px;
  }

  .contact-form-title::after {
    visibility: hidden;
  }

  .form-input {
    width: 300px;
  }

  .contact-form-submit-button {
    width: 300px;
  }
}