* {
    font-family: 'Roboto', sans-serif;
}
/* ----------------------------------------------- */
/* ----------------- NAVBAR MODS --------------- */
/* ----------------------------------------------- */
.navbar-brand {
    width: 35% !important;
}
.company-logo {
    height: 40px;
}

.centered-nav li {
    margin-right: 45px;
}

.right-nav {
    width: 60%;
}

.contact-us {
    border: 1px solid rgba(0,0,0,.5);
}

.nav-link {
    font-size: 90%;   
}

/* ----------------------------------------------- */
/* ---------------- HEADER SECTION --------------- */
/* ----------------------------------------------- */

.left-side {
    padding: 8% 0 0 10% !important;
    background-color: #FFF;
    background-image: url(img/back_image.png);
    /* background-position: center; */
    background-size: cover;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 500;
    background-color: transparent;
}

.sub-hero {
    font-weight: 300;
    width: 80%;
    margin-bottom: 1.1rem;
    background-color: transparent;
}

.get-started-button:link,
.get-started-button:visited {
    color: #ffffff;
    background-color: #000000;
    padding: 7px 34px;
    border: 1px solid #000000;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #000;
}

.get-started-button:active,
.get-started-button:hover {
    text-decoration: none;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list img {
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 4px;
}

.features-list li {
    font-size: 79%;
    color: rgba(0,0,0,.7);
    margin-bottom: 7px;
}

.features-list li:last-child {
    margin-bottom: 60px;
}

.rigt-side {
    background-color: #F1FFF1;
    overflow: hidden;
    padding: 0;
}

.image-container {
    text-align: center;
    margin: 12% 0 0.5%;
}

.hero-image-title {
    font-weight: 300;
    font-size: 160%;
    letter-spacing: .3px;
    /* color: rgba(0,0,0,.5); */
}

.hero-image {
    height: 250px;
    width: auto;
}

.statistics-box {
    background-color: #000000;
    color: #FFF;
    text-align: center;
    width: 100%;
}

.facts-box {
    width: 25%;
    display: inline-block;
    margin-right: 4%;
}

.box-title {
    font-size: 150%;
    font-weight: 700;
    margin: 0.7rem 0 0;
}

.box-content {
    font-size: 85%;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

/* ----------------------------------------------- */
/* -------------- WHO WE ARE SECTION ------------- */
/* ----------------------------------------------- */

.who-we-are-section {
    padding: 70px 0 50px;
    background-color: #F1FFF1;
}

.section-title {
    width: 80%;
    font-weight: 500;
}

.blue-highlight {
    color: #005BAF;
    display: inline;
}

.long-copy {
    font-size: 90%;
    color: #555;
}

