* {
    font-family: 'Roboto', sans-serif;
}
/* ----------------------------------------------- */
/* ----------------- NAVBAR MODS --------------- */
/* ----------------------------------------------- */
.navbar-brand {
    width: 35% !important;
}
.company-logo {
    height: 40px;
}

.centered-nav li {
    margin-right: 45px;
}

.right-nav {
    width: 60%;
}

.contact-us {
    border: 1px solid rgba(0,0,0,.5);
}

.nav-link {
    font-size: 90%;   
}

/* ----------------------------------------------- */
/* ---------------- HEADER SECTION --------------- */
/* ----------------------------------------------- */

.left-side {
    padding: 8% 0 0 10% !important;
    background-color: #FFF;
    background-image: url(img/back_image.png);
    background-size: cover;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: 500;
    background-color: transparent;
}

.sub-hero {
    font-weight: 300;
    width: 80%;
    margin-bottom: 1.1rem;
    background-color: transparent;
}

.get-started-button:link,
.get-started-button:visited {
    color: #ffffff;
    background-color: #000000;
    padding: 7px 34px;
    border: 1px solid #000000;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #000;
}

.get-started-button:active,
.get-started-button:hover {
    text-decoration: none;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list img {
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 4px;
}

.features-list li {
    font-size: 79%;
    color: rgba(0,0,0,.7);
    margin-bottom: 7px;
}

.features-list li:last-child {
    margin-bottom: 60px;
}

.rigt-side {
    background-color: #F1FFF1;
    overflow: hidden;
    padding: 0;
}

.image-container {
    text-align: center;
    margin: 12% 0 0.5%;
}

.hero-image-title {
    font-weight: 300;
    font-size: 160%;
    letter-spacing: .3px;
    /* color: rgba(0,0,0,.5); */
}

.hero-image {
    height: 250px;
    width: auto;
}

.statistics-box {
    background-color: #000000;
    color: #FFF;
    text-align: center;
    width: 100%;
}

.facts-box {
    width: 25%;
    display: inline-block;
    margin-right: 4%;
}

.box-title {
    font-size: 150%;
    font-weight: 700;
    margin: 0.7rem 0 0;
}

.box-content {
    font-size: 85%;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

/* ----------------------------------------------- */
/* -------------- WHO WE ARE SECTION ------------- */
/* ----------------------------------------------- */

.section-hero-text-small {
    color: #00873E;
    font-weight: 700;
    font-size: 96%;
}

.who-we-are-section {
    padding: 70px 0 50px;
    background-color: #F1FFF1;
}

.section-title {
    width: 80%;
    font-weight: 500;
}

.blue-highlight {
    color: #005BAF;
}

.green-highlight {
    color: #00873E;
}

.long-copy {
    font-size: 90%;
    color: #555;
}

/* ----------------------------------------------- */
/* ------------- WHY IDENTITO SECTION ------------ */
/* ----------------------------------------------- */

.why-section {
    padding: 50px 0 30px;
    background-image: url(img/back_image.png);
    background-size: contain;
}

.why-section-title {
    margin-top: 30%;
    width: 80%;
    font-weight: 700;
    font-size: 205%;
}

.why-section-body {
    color: #666;
    font-size: 96%;
    width: 85%;
}

.card {
    box-shadow: 0 1px 15px #d4d4d4;
    padding: 20px;
    width: 78%;
    border: 1px solid transparent;
    border-radius: 3px;
}

.last-card {
    margin-top: 50%;
    padding-bottom: 40px;
}

.card-image-container-green {
    background-color: #beffbe;
    padding: 5px 0;
    width: 14%;
    text-align: center;
}

.card-image-container-blue {
    background-color: #F1F2FF;
    padding: 5px 0;
    width: 13%;
    text-align: center;
}

.card-image {
    height: 22px;
    width: 24px;
}

.card-title {
    margin-top: 12px;
    font-weight: 700;
    font-size: 90%;
}

.card-body {
    color: #888;
    padding: 0;
    font-size: 79%;
    width: 90%;
}

/* ----------------------------------------------- */
/* ------------- HOW IT WORKS SECTION ------------ */
/* ----------------------------------------------- */

.section-hero-text-big {
    width: 95%;
    font-weight: 700;
    font-size: 160%;
}

.how-it-works-section {
    background-image: url(img/back_image.png);
}

/* ----------------------------------------------- */
/* -------------- CONTACT US SECTION ------------- */
/* ----------------------------------------------- */
.contact-us-section {
    padding: 70px 0;
    background-image: url(img/back_image.png);
    background-size: contain;
}

.contact-us-sub-head {
    font-weight: 400;
    font-size: 80%;
    color: #666;
    margin-bottom: 25px;
}

.contact-info-text {
    color: #00873E;
    font-weight: 400;
    font-size: 110%;
}

.contact-image {
    height: 240px;
    width: 100%;
}

.form-container {
    text-align: right;
}

.contact-form-title {
    font-weight: 300;
    margin-bottom: 0;
}

.contact-form-title::after {
    display: block;
    height: 1px;
    background-color: #000;
    content: "";
    width: 200px;
    margin: 5px 0 20px 55%;
}

.form-input {
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 5px;
    width: 70%;
    height: 35px;
    font-size: 95%;
    color: #a1a1a1;
}

.form-input:active,
.form-input:focus {
    outline: none;
}

.form-input::placeholder {
    color: #a1a1a1;
}

#message-area {
    height: 90px;
    resize: none;
}

.contact-form-submit-button {
    color: #ffffff;
    background-color: #000000;
    padding: 6px 0;
    border: 1px solid #000000;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #000;
    width: 70%;
}